*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 2;
  color: #0c5383;
  background-color: #eff2f3;
}

.card-title {
  background: rgba(109, 180, 206, 0.358);
}

a {
  text-decoration: none;
}
